body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,image{ margin:0; padding:0; }
body {font-family: 'Microsoft Yahei'; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a {text-decoration:none; }
img { border:none; }
ol,ul,li { list-style:none; }
textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
button { margin:0; padding: 0; }
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }


.main {
	width: 550px;
	height: 600px;
	margin: 20px auto;
	background-image: url(../images/background01.jpeg);
	box-shadow: 15px 15px 10px #6E6E6F;/*阴影*/
	font-size: 55px;
	font-weight: bold;
}

input {
	width: 500px;
	display: block;
	margin: 0px auto;
	height: 80px;
	background: rgba(255, 255, 255, 0.5);
	font-size: 30px;
	text-align: right;
	position:relative;
	top:20px;
}

input:focus {
	outline: none;
}

.button {
	width: 500px;
	height: 420px;
	margin: 50px auto;
}

button {
	width: 125px;
	height: 70px;
	display: block;
	float:left;
	margin: 0 auto;
	padding: 0;
	background: rgba(255, 255, 255, 0.5);
	border-collapse: collapse;
	font-size: 20px;
}

button:focus {
	outline:none;
}

button:hover {
	background: rgba(255, 255, 255, 0.7);
	cursor: pointer;
}